/* CARD 1 OF 3 */
.color1 {
  padding: 0px 5px;
  background : linear-gradient(transparent, yellow, orange, transparent);
}

/* CARD 2 OF 3 */
.color2 {
  padding: 3px;
  background : linear-gradient(-45deg, red, purple, blue);
}

/* CARD 3 OF 3 */
.color3 {
  padding: 2px;
	background: linear-gradient(-45deg, orange, yellow, lime, cyan, blue);
	background-size: 500%;
	animation: Gradient 8s ease infinite;
  
  /*   Digunakan pada Chrome dan versi terbaru Opera */
	-webkit-animation: Gradient 8s ease infinite;
  
  /*   Digunakan pada Firefox */
	-moz-animation: Gradient 8s ease infinite;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 100%
	}
	100% {
		background-position: 0% 50%
	}
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 100%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 100%
	}
	100% {
		background-position: 0% 50%
	}
}